body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}
